{% extends "layout/layout.html" %}

{% block body %}
<div>
    <div class="bg-body-secondary p-3 d-flex flex-column gap-3 rounded">
        <form action="{% url 'updateStudent' student.id %}" method = "post" class="d-flex flex-column gap-2">{% csrf_token %}
    
            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input type="text" value = "{{ student.name }}" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
    
            <div class="mb-3">
                <label for="email" class="form-label fw-bold">Email</label>
                <input type="email" value = "{{ student.email }}" class="form-control" id="email" name="email" placeholder="example@example.com">
            </div>
    
            <div class="mb-3">
                <label for="age" class="form-label fw-bold">Age</label>
                <input type="number" value = "{{ student.age }}" class="form-control" id="age" name="age" placeholder="Enter your age">
            </div>
    
            <select class="form-select" name="gender" >
                <option value="male" {% if student.gender == 'male' %}selected{% endif %}>Male</option>
                <option value="female" {% if student.gender == 'female' %}selected{% endif %}>Female</option>
              </select>
            <button type="submit" class="btn btn-success">Save</button>
    
        </form>
        <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    
    </div>
</div>
{% endblock %}